<?xml version="1.0"?>
<!--
Web.config file for blog.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
<appSettings>
  <add key="Basic.Users" value="/userdata/users.xml" />
  <add key="Basic.Realm" value="My Realm" />
</appSettings>

  <httpModules>
  <add name="BasicAuthenticationModule"
     type="Mono.Http.Modules.BasicAuthenticationModule, Mono.Http, Version=1.0.5000.0, PublicKeyToken=0738eb9f132ed756"/>

  </httpModules>
  <system.web>
    
     <httpRuntime requestValidationMode="2.0" /> 
    <compilation defaultLanguage="C#" debug="true">

      <assemblies>
      </assemblies>
    </compilation>
    <customErrors mode="Off">
    </customErrors>
    <authentication mode="None">
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <httpHandlers>
    </httpHandlers>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages>
    </pages>
  </system.web>
</configuration>